html {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    background-color: transparent;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    margin: 0 auto;
    font-weight: 300;
    display: grid;
    justify-items: center;
}

#main {
    margin-top: 0;
    padding: 0;

}

#todoApp {
    display: grid;
    grid-template:
        'a'
        'b'
        'c';
    padding: 0px;
    width: 480px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);

}


#formTodo {
    display: grid;
    grid-template:
        'toggleAllcell new-todocell' / 40px min-content;
    position: relative;
    margin: 0;
    height: auto;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    border: 1px solid #999;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.003);
}

#selectAll {
    height: 40px;
    width: 40px;
    font-size: 18px;
    margin: 0;
    padding: o;
    border: none;
    background-color: #f5f5f5;
}

#selectAll:hover {
    background-color: #c5c5c5;
}


#toggleAllCell {
    color: inherit;
    margin: 0px;
    width: 40px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

#new-todocell {
    width: 440px;
}

input[type="checkbox"] {
    height: 1.4em;
    width: 1.4em;
}

#new-todo {
    list-style: none;
    height: 100%;
}

#removeButton {
    border-style: none;
    color: transparent;
    background: transparent;
}

#removeButton:hover {
    border-style: none;
    color: #f5f5f5;
}

li {
    display: grid;
    grid-template: 'a b c' / 40px auto min-content;
    position: relative;
    width: inherit;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

#new-todo {
    position: relative;
    width: inherit;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border-style: none;
    background: #f5f5f5;
    background-color: inherit;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    padding: 0px;
    margin: 0px;
}

#partToShow {
    display: grid;
    grid-template: 'a b c d e';
    gap: 20px;

}

#todoCounter {
    padding-top: 5px;
}

#clearCompleted {
    border-style: none;
    background-color: inherit;
    color: inherit;
    padding-top: 5px;
}

#allButton,
#activeButton,
#completedButton {
    justify-items: center;
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

label.stroke {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.2);
    font-style: italic;
}

;

#bottom {
    display: grid;
    /* justify-content: center; */
    justify-self: center;
    /* justify-items: center; */
}

#bottomText {
    display: grid;

    /* justify-content: center; */
    /* justify-self: center; */
    /* justify-items: center; */
    width: fit-content;
    font: 6px;
    color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {

    #todoApp {
        width: 400px;

    }

    #new-todocell {
        width: 360px;

    }
}